<section>
<p>Marien's Bakery serves contemporary American desserts with global influence. Our bakery provides guests an inviting atmosphere to observe the preparation and plating of the delicate desserts before serving to the table. The plate as a blank canvas becomes a medium upon which we build flavors, textures, and temperatures. Within this unique form of architecture, we employ seasonal ingredients, technique, science, and inspiration drawn from both tradition and innovation. Through dessert, we strive to shape an experience and leave a lasting impression.</p>
</section>